body{
    font-family: roboto,calibri;
}
.picture{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.top-header{
    color: transparent;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 31px;
    z-index: 1000;
}
.base-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52em;
    height: 130px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 7px black;
    border-radius: 60px;
    margin-left: 8%;
    margin-bottom: 1%;
    margin-top: 6%;
    padding-left: 20px;
}
.outer-layer{
    display: flex;
    margin-top: 2%;
    margin-left: 18.5%;
    width: 64%;
    position: relative;
    border: none;
    margin-bottom: 2%;
    box-shadow: 2px 2px 10px black;
    background-image: url(/blurry-gradient-haikei\ \(1\).svg);
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
}
.stopage-element{
    display: flex;
    flex-direction: row;
    margin-left: -3%;
}
.circle{
    height: 10px;
    color: transparent;
    width: 10px;
    box-shadow: 1px 1px 7px black;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
}
.minar{
    background-color: white;
    width: 7px;
    color: transparent;
    box-shadow: 1px 1px 7px black;
    height: 40%;
}
.minar-first,
.minar-last{
    background-color: transparent;
    width: 7px;
    color: transparent;
    height: 40%;
}
.architect{
    display: flex;
    margin-left: 8%;
    flex-direction: column;
    align-items: center;
    width: 20px;
}
.stopage-info{
    width: 40em;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 6px black;
    margin-top: 1%;
    border-radius: 22px;
    padding-left:12px;
    font-weight: 500;
    font-size: 130%;
}
.stopage-name{
    display: flex;
    font-family: calibri;
    flex-direction: column;
    justify-content: center;
}
.stopage-no{
    font-size: 16px;
    font-family: calibri;
    margin-top: 2px;
    font-style: italic;
}
.logo-bus{
    height: 40px;
    position: relative;
    margin-right: 8px;
}
.logo-stop{
    height: 35px;
    position: relative;
    margin-right: 5px;
}